@media screen and (min-width: 992px) {
  // ----- All Desktop -----

  .single-container {
    max-width: 40%;
  }

  // -------- Nav --------

  nav {
    padding: 0 $very-big-margin;
  }

  // -------- Home --------

  #home-container {
    grid-template-areas:
      // "about ux art"
      // "photo blog contact"

      "ux art photo"
      "ux art photo"
      "contact contact contact"
      // "about about contact"
;
  }

  // -------- Art --------

  .series-description {
    max-width: 65%;
    // height: 8.5em;
  }

  // -------- Product --------

  .left-container,
  figure {
      width: 54%;
      display: flex;
      justify-content: end;
  }
  .right-container,
  .about-bio {
    width: 44%;
    display: flex;
    flex-direction: column;

    .product-heading {
      display: flex;
      justify-content: space-between;
    }
  
    .title, .price {
      margin-bottom: $big-margin;
    }
  }
  .lower-container {
    padding: 0 $very-big-margin;
  }
}
