@media screen and (min-width: 992px) {
  // ------------------------ All Desktop ------------------------

  h1 {
    font-size: $h1-size-desktop;
  }

  .single-container {
    width: 40%;
  }

  // ------------------------ Header ------------------------

  nav {
    padding: 0 $very-big-margin;
  }

  // ------------------------ Home ------------------------

  #home-page {
    grid-template-areas:
      // "about ux art"
      // "photo blog contact"

      "contact contact contact"
      "ux art photo"
      "ux art photo"
      // "contact contact contact"
      // "about about contact"
;
  }

  // ------------------------ Art ------------------------

  .series-description {
    max-width: 65%;
    // height: 8.5em;
  }

  .expanded {
    height: 200px;
  }

  // ------------------------ Product ------------------------

  .left-container {
    width: 48%;
    display: flex;
    justify-content: end;
  }
  .right-container,
  .about-bio {
    width: 48%;
    display: flex;
    flex-direction: column;

    .product-heading {
      display: flex;
      justify-content: space-between;
    }

    .title,
    .price {
      margin-bottom: $big-margin;
    }
  }
  .lower-container {
    padding: 0 $very-big-margin;
  }

  // ------------------------ About ------------------------

  .about-photo-container {
    justify-content: flex-end;
    .about-photo {
      // width: 70%;
      max-height: 70vh;
    }
  }

  #about-main {
    max-width: 100%;
    h2 {
      text-align: start;
      margin: 0;
      margin-bottom: $big-margin;
    }
  }

  #Bio,
  #Exhibitions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #Bio {
    grid-template-areas: "about-photo main";
  }

  #Exhibitions {
    grid-template-areas:
      "heading heading"
      "image-exhibitions image-exhibitions"
      "left-exhibitions right-exhibitions";
  }

  .left-exhibitions {
    width: 48%;
  }
  .right-exhibitions {
    width: 48%;
  }

  .client-logo img {
    max-height: 100px;
  }

  // ------------------------ Projects ------------------------
  #project-page {
    .project-container {
      display: flex;
      flex-wrap: wrap;
      gap: $med-margin;
      margin: auto;
      .project-text {
        // width: 48%;
        width: 100%;
        margin: auto;
        display: flex;
        gap: $med-margin;
        flex-wrap: wrap;
        justify-content: flex-start;
        // justify-content: center;
      }
      .project-text,
      .disclaimer {
        width: 100%;
        // .project-description {
        //   width: 48%;
        // }
      }
      .two-column .functionalities,
      .two-column .project-description {
        width: 48%;
        margin: 0 auto;
      }
      figure {
        img {
          max-height: 80vh;
        }
      }
      .half-image {
        width: 48%;
      }
      .disclaimer {
        width: 100%;
      }
      #regan-text {
        .project-description {
          width: 100%;
        }
      }
    }
  }
}
