// ------------------------ General ------------------------

body {
  background: $bg-light;
  color: $text-dark;
}

a,
p {
  text-decoration: none;
  color: $text-dark;
}

img {
  color: $text-dark;
}

h1,
h4 {
  font-size: $h1-size-big-mob;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: $h1-size-small-mob;
  }
}

h2 {
  font-size: $mob-sub-size;
}

.card-body p,
h3 {
  font-size: $mob-sub-size;
}

h4 {
  position: absolute;
  top: 8px;
}

a,
p,
div,
button,
input,
textarea {
  font-size: $mob-body-size;
}

input,
textarea,
button,
.regular-button {
  width: 100%;
  border: none;
  border-radius: $small-margin;
  padding: $med-margin;
  text-align: start;
  margin-bottom: $med-margin;
  min-height: 36px;
}

textarea {
  // resize: none;
  resize: vertical;
  overflow: auto;
}

button {
  background: none;
  border: none;
}

.regular-button {
  // padding: $small-margin;
  background: $card-dark;
  color: $text-light;
  text-align: center;
}
.regular-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.regular-button:active {
  opacity: 0.6;
  transition: 0.2s;
}

figure {
  img {
    border-radius: $med-margin;
  }
}

.container {
  padding: $small-margin;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  // min-height: calc(100vh - 115px);
  // opacity: 0;
  // transition: 0.4s;
}

.full-container {
  width: 100%;
}

#home-page,
#ux-page,
#photo-page {
  width: 100%;
}

// #home-page,
// #about-page,
// #contact-page,
// #ux-page,
// #photo-page,
// #art-page,
// #product-page,
// #project-page {
//   opacity: 1;
//   transition: 1s;
// }

// ------------------------ Header ------------------------

nav {
  margin: $small-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $med-margin;
  padding: 0 $small-margin;

  #logo {
    a {
      display: flex;
      align-items: center;
    }
    img {
      align-items: center;
      max-width: 40vw;
      max-height: 40px;
    }
  }

  .left-nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    #cart,
    #hamburger-container {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        width: 30px;
        padding: $small-margin;
        margin-left: $small-margin;
        margin-right: $small-margin;
      }
    }
  }
}

#desktop-nav-menu {
  display: none;
}

#desktop-nav-menu .nav-button,
.filter a {
  font-size: $body-size;
  padding: $small-margin;
  margin: auto;
  margin-bottom: $small-margin + 4px;
}

#desktop-nav-menu .nav-button:hover,
.filter a:hover {
  border-bottom: 4px solid $text-dark;
  transition: 0.2s ease;
  margin-bottom: $small-margin;
}

#desktop-nav-menu .nav-button.active,
.filter a.selected {
  border-bottom: 4px solid $text-dark;
  margin-bottom: $small-margin;
}

.mobile-menu-container {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  // height: 100vh;
  height: 0;
  width: 100%;
  background: $bg-light;

  opacity: 0;
  transition: 0.4s ease;

  #mobile-nav-menu {
    position: absolute;
    top: 20%;
    right: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: $med-margin;
    width: fit-content;
  }

  #close-nav-menu {
    position: absolute;
    top: -8px;
    right: 1px;
    justify-content: center;

  }
}

.menu-open {
  opacity: 1;
  transition: 0.4s ease;
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

// ------------------------ Hamburger ------------------------

// ------------------------ Footer ------------------------

#footer {
  display: flex;
  flex-direction: column;
  margin-top: $big-margin;
  margin-bottom: $big-margin;
  align-items: center;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  // left: 50%;
  // transform: translate(-50%, 0%);

  p {
    display: flex;
    text-align: center;
    margin-bottom: $med-margin;
  }

  #social-media-icons {
    margin: $med-margin;
    a {
      margin: 0 $med-margin;
    }
  }
}

// ------------------------ Cards ------------------------

.card {
  // margin: $small-margin;
  border-radius: $med-margin;
  border: none;
  // padding: $small-margin;
  // background-color: $card-dark;
  position: relative;

  a,
  p {
    color: $text-light;
  }

  .card-text {
    background-color: $text-dark + b0;
    position: absolute;
    // bottom: $med-margin;
    // left: $med-margin;
    border-radius: $med-margin;
    bottom: 0;
    padding: $big-margin $big-margin;
    width: 100%;

    .card-subheading {
      display: flex;
      align-items: center;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .card-body,
    h3 {
      // display: none;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: height 0.4s, opacity 0.4s linear;
    }

    h3,
    h2 {
      color: $text-light;
    }
    // p:hover {
    //   display: block;
    // }
  }

  img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $med-margin;
    background-color: transparent;
    object-position: center center;
  }
}

.card:hover {
  // p,
  .card-body,
  h3 {
    visibility: visible;
    opacity: 1;
    height: $very-big-margin;
  }
}

.grid-container {
  gap: $med-margin;
  margin: $med-margin;
}

// ------------------------ Home ------------------------

#home-page {
  display: grid;
  grid-template-areas:
    // "about"

    "contact"
    "ux"
    "art"
    "photo"
    // "blog"
    // "contact"
;
  justify-content: normal;
  align-items: stretch;
  // height: 80vh;
  width: 100%;
  margin: 0;
  color: $text-light;
  text-decoration: none;
}

.home-card {
  min-height: 80px;
}

.home-about-section {
  background-color: $card-about;
  grid-area: about;
  a,
  p {
    color: $text-dark;
  }
}
.home-ux-section {
  background-color: $card-ux;
  grid-area: ux;
  // img {
  //   object-position: 50% 0%;
  // }
}
.home-art-section {
  background-color: $card-art;
  grid-area: art;
  #art-home-image {
    object-position: 15% center;
  }
}
.home-photography-section {
  background-color: $card-photo;
  grid-area: photo;
}
// .home-blog-section {
//   background-color: $card-blog;
//   grid-area: blog;
// }
.home-contact-section {
  background-color: $card-contact;
  background-color: transparent;
  grid-area: contact;

  .card-text {
    background-color: transparent;
    color: $text-dark;
    text-align: center;
    padding: 0;

    h1 {
      margin-bottom: $small-margin;
    }
  }
}

#contact-home-button,
#contact-photo-button {
  display: block;
  margin: auto;
  background-color: $text-dark;
  color: $text-light;
  width: fit-content;
}

// ------------------------ Art ------------------------

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    text-align: left;
    width: 35%;
  }
}

.series-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: $big-margin;
  max-width: 90%;
  min-width: 40%;
  overflow: scroll;
  height: 0;
  opacity: 0;
  transition: height 0.8s ease-in-out, opacity 0.4s ease-in-out;

  h2 {
    text-align: left;
    margin-bottom: $med-margin;
  }
}

.expanded {
  height: 300px;
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.8s ease-in-out;

  overflow: scroll;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .product-card {
    width: 100%;
    margin: $med-margin;
    position: relative;

    .product-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      padding: $med-margin;
      visibility: hidden;
      opacity: 0;
      transition: height 0.4s, opacity 0.4s linear;
      background-color: $bg-light + b0;
      // background-color: $text-dark+b0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: $small-margin;

      h2,
      div {
        text-align: center;
      }
    }

    a {
      color: $text-dark;
      // color: $text-light;
    }
    img {
      width: 100%;
    }
  }

  .product-card:hover .product-overlay {
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: height 0.4s, opacity 0.4s linear;

    // border-radius: $med-margin $med-margin 0 0 ;
    // height: $very-big-margin*2;
  }
}

// ------------------------ Product ------------------------

.left-container {
  max-width: 100%;
  padding: $med-margin;
  display: flex;
  justify-content: center;
  // max-height: 50vh;
  img {
    max-height: 80vh;
    max-width: 100%;
    margin-bottom: $med-margin;
    object-fit: contain;
  }
}

.right-container {
  max-width: 100%;
  padding: $med-margin;
  // max-height: 50vh;
  .product-heading {
    display: flex;
    justify-content: space-between;
  }
  .title,
  .price,
  p {
    margin-bottom: $med-margin;
    width: fit-content;
  }
  #add-to-cart {
    margin-top: $very-big-margin;
    margin-bottom: $very-big-margin;
  }

  .short-description {
    margin-top: $big-margin;
  }
}

.lower-container {
  max-width: 100%;
  margin-top: $big-margin;
  padding: $med-margin;
  display: flex;
  gap: $med-margin;
  flex-wrap: wrap;
  justify-content: center;
}

// ------------------------ UX ------------------------

.project-card-container {
  display: grid;
  grid-template-areas:
    "burger"
    "aurea"
    "pokedex"
    "regan";
  justify-content: normal;
  max-width: 100%;
  min-height: 75vh;
}

.project-card {
  min-height: 180px;
  // margin: $small-margin;
}
//   margin: $med-margin;
//   border-radius: $small-margin;
//   // padding: $small-margin;
//   // border-radius: $small-margin;
//   // background-color: $card-about;
//   position: relative;
//   min-height: 80px;

//   img {
//     position: absolute;
//     overflow: hidden;
//     object-fit: cover;
//     object-position: 0% 15%;
//     width: 100%;
//     height: 100%;
//     border-radius: $med-margin;
//     background-color: transparent;
//   }

//   h2,
//   p {
//     color: $text-light;
//     z-index: 2;
//   }
// }

#burger-card {
  grid-area: burger;
  background-color: #03b2ad;
}
#aurea-card {
  grid-area: aurea;
  background-color: #d1b864;
}
#pokedex-card {
  grid-area: pokedex;
  background-color: #449e3c;
}
#regan-card {
  grid-area: regan;
  // background-color: #ffe4e4;
  // background-color: #583b3b;
  background-color: #875858;
}

// ------------------------ Projects ------------------------
#project-page {
  .project-container {
    display: flex;
    flex-wrap: wrap;
    gap: $med-margin;
    margin: $big-margin auto;
    justify-content: center;
    .project-text {
      // width: 48%;
      width: 100%;
      margin: auto;
      display: flex;
      gap: $med-margin;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .project-text,
    .disclaimer {
      padding: 0 12px;
      h2 {
        margin-bottom: $big-margin;
        width: 100%;
        text-align: center;
      }
      .project-description {
        width: 100%;
      }

      .tags {
        width: 100%;
        text-align: center;
        margin-bottom: $med-margin;
      }
      .project-links {
        display: flex;
        gap: $med-margin;
        width: 100%;
        a {
          padding: $med-margin;
          margin-bottom: $med-margin;
          border-radius: 6px;
          width: 100%;
          // width:50%;
        }
      }
      a {
        padding: $med-margin;
        margin-bottom: $med-margin;
        border-radius: 6px;
        width: 100%;
        // width:50%;
      }
    }
    .functionalities {
      width: 100%;
      p {
        width: 100%;
        margin-bottom: $big-margin;
      }
      ul {
        width: 100%;
        li {
          margin-bottom: $big-margin;
        }
      }
    }
    figure {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 12px;
      img {
        border-radius: $small-margin;
        object-fit: contain;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
    .disclaimer {
      margin: $very-big-margin auto;
    }
  }
  a {
    width: 100%;
  }
}

.back-button-container {
  text-align: center;
}
.back-button {
  margin: $very-big-margin 0;
  width: fit-content;
  a {
    color: $text-light;
  }
}

// ------------------------ About ------------------------

#about-page {
  h2 {
    // position: absolute;
    // width: 100%;
    text-align: center;
    margin: $big-margin;
  }
}

#Bio {
  display: grid;
  grid-template-areas: 
  "about-photo" "main";
  // margin: 0 auto;
}
.about-photo-container {
  grid-area: about-photo;
  border-radius: $med-margin;
  display: flex;
  justify-content: center;
  .about-photo {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    max-height: 50vh;
  }
}

#about-main {
  grid-area: main;
  max-width: 100%;
  p {
    margin-bottom: $med-margin;
  }
}

#Exhibitions {
  display: grid;
  grid-template-areas: 
  "heading"
  "image-exhibitions"
  "left-exhibitions" 
  "right-exhibitions"
  ;
  h2 {
    grid-area: heading;
  }
  .left-exhibitions,
  .right-exhibitions {
    h3,
    p {
      margin-bottom: $med-margin;
    }
  }
  .left-exhibitions {
    width: 100%;
    grid-area: left-exhibitions;
  }
  .right-exhibitions {
    width: 100%;
    grid-area: right-exhibitions;
  }

figure {
  grid-area: image-exhibitions;
  border-radius: $med-margin;
  margin-bottom: $med-margin;
  img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
  }
}
}
#Clients {
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  h2 {width: 100%;}
}
.client-logo {
  width: fit-content;
  // margin: $small-margin;
  background-color: #ffffff;
  border-radius: $med-margin;
  padding: $med-margin;
  img {
    height: 40px;
    width: fit-content;
    object-fit: contain;
  }
}

.about-grid {
  display: grid;
  grid-template-areas: "Bio" "Exhibitions" "Clients";

  #Bio {grid-area: Bio;}
  #Exhibitions {grid-area: Exhibitions;}
  #Clients {grid-area: Clients;}
}

// ------------------------ Contact ------------------------

#contact-page {
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  h2 {
    margin-bottom: $very-big-margin;
  }
  p {
    width: 70%;
    margin-bottom: $very-big-margin;
    // padding-left: $small-margin;
    // padding-right: $small-margin;
  }
  form {
    width: 100%;

    textarea {
      min-height: 108px;
    }
    // #submit-button {

    // }
  }
}

// ------------------------ Photography ------------------------

#photo-page {
  .card {
    min-height: 300px;
    max-height: fit-content;
    position: relative;
    // img {
    //   position: relative;
    // }
  }
  .photo-card-container {
    display: grid;
    grid-template-areas: 
      // "photography photography photography"
      // "weddings graduations commercial";

      "photography" "weddings" "graduations" "commercial"
      // "photography weddings" "graduations commercial"
;
    grid-template-rows: min-content;
    min-height: 70vh;

    .photo-post-card .photo-content figure img,
    .photo-post-card .photo-content figure figure img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  #Weddings-card {
    grid-area: weddings;
  }
  #Graduations-card {
    grid-area: graduations;
  }
  #Commercial-card {
    grid-area: commercial;
  }
  #Photography-card {
    grid-area: photography;
    background-color: transparent;
    text-align: center;
    padding: 0;
    min-height: 120px;
    .book-links {
      margin: $big-margin;
    }
    h2,
    p {
      color: $text-dark;
      margin: auto;
      margin-bottom: $med-margin;
    }
  }
}

// ------------------------ Phototype ------------------------

.phototype-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;

  .photo-text {
    width: 100%;
    margin-bottom: $big-margin;
  }
  figure {
    min-width: 20%;
    max-width: 100%;
    margin: $med-margin;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}
