// -------- General --------

body {
  background: $bg-light;
  color: $text-dark;
}

a,
p {
  text-decoration: none;
  font-size: $body-size;
  color: $text-dark;
}

h2 {
  font-size: $sub-size;
}

img {
  color: $text-dark;
}

button {
  background: none;
  border: none;
}

.container {
  padding: $small-margin;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
}

// -------- Nav --------

nav {
  margin: $small-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $med-margin;
  padding: 0 $small-margin;

  #logo {
    a {
      display: flex;
      align-items: center;
    }
    img {
      align-items: center;
      max-width: 40vw;
      max-height: 40px;
    }
  }

  .left-nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    #cart,
    #hamburger-container button {
      width: 30px;
      padding: $small-margin;
      margin-left: $small-margin;
      margin-right: $small-margin;
    }
  }
}

#desktop-nav-menu {
  display: none;
}

#desktop-nav-menu .nav-button,
.filter a {
  font-size: $body-size;
  padding-bottom: $small-margin;
  margin: auto;
  margin-bottom: $small-margin + 4px;
}

#desktop-nav-menu .nav-button:hover,
.filter a:hover {
  border-bottom: 4px solid $text-dark;
  transition: 0.2s ease;
  margin-bottom: $small-margin;
}

#desktop-nav-menu .nav-button.active,
.filter a.selected {
  border-bottom: 4px solid $text-dark;
  margin-bottom: $small-margin;
}

#mobile-menu-container {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: $bg-light;

  #mobile-nav-menu {
    position: absolute;
    top: 20%;
    right: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: $med-margin;
    width: fit-content;
  }

  #close-nav-menu {
    position: absolute;
    top: 5%;
    right: 5%;
    width: $big-margin;
    height: $big-margin;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

// ----- Footer -----

#footer {
  display: flex;
  flex-direction: column;
  margin-top: $big-margin;
  margin-bottom: $big-margin;
  align-items: center;

  p {
    display: flex;
    text-align: center;
    margin-bottom: $med-margin;
  }

  #social-media-icons {
    margin: $med-margin;
    a {
      margin: 0 $med-margin;
    }
  }
}

// -------- Home --------

#home-container {
  display: grid;
  grid-template-areas:
    "about"
    "ux"
    "art"
    "photo"
    "blog"
    "contact";
  justify-content: normal;
  align-items: stretch;
  max-width: 100%;
  // height: 80vh;
  margin: 0;

  .home-section {
    margin: $med-margin;
    border-radius: $small-margin;
    padding: $small-margin;
    background-color: $card-dark;
    position: relative;
    min-height: 80px;
    a,
    p {
      color: $text-light;
    }
    img {
      position: absolute;
      top: $small-margin;
      // width: 100%;
      // height: 60px;
    }
  }
  .home-about-section {
    background-color: $card-about;
    grid-area: about;
    a,
    p {
      color: $text-dark;
    }
  }
  .home-ux-section {
    background-color: $card-ux;
    grid-area: ux;
  }
  .home-art-section {
    background-color: $card-art;
    grid-area: art;
  }
  .home-photography-section {
    background-color: $card-photo;
    grid-area: photo;
  }
  .home-blog-section {
    background-color: $card-blog;
    grid-area: blog;
  }
  .home-contact-section {
    background-color: $card-contact;
    grid-area: contact;
  }
  color: $text-light;
  text-decoration: none;
}

// -------- Art --------

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    text-align: left;
    width: 35%;
    //   padding-bottom: $small-margin;
    //   margin: auto;
    //   margin-bottom: $small-margin + 4px;
    // }

    // a:hover {
    //   border-bottom: 4px solid $text-dark;
    //   transition: 0.2s ease;
    //   margin-bottom: $small-margin;
    // }

    // a.selected {
    //   border-bottom: 4px solid $text-dark;
    //   margin-bottom: $small-margin;
  }
}

.series-description {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  margin: $med-margin;
  max-width: 90%;
  min-width: 40%;

  h2 {
    text-align: left;
    margin-bottom: $med-margin;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .product-card {
    width: 100%;
    margin: $med-margin;
    position: relative;

    .product-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      height: 100%;
      width: 100%;
      padding: $med-margin;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #ddddddb0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      h2,
      div {
        text-align: center;
      }
    }

    a {
      color: $text-dark;
    }
    img {
      width: 100%;
    }
  }

  .product-card:hover .product-overlay {
    opacity: 1;
  }
}

// -------- UX --------

.project-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: 
    "burger aurea"
    "pokedex regan"
  ;
  justify-content: normal;
  align-items: stretch;
  max-width: 100%;
  // height: 70vh;

  .project-card {
    margin: $med-margin;
    border-radius: $small-margin;
    padding: $small-margin;
    border-radius: $small-margin;
    background-color: $card-about;
    min-height: 80px;
  }

  #burger-card {
    grid-area: burger;
  }
  #aurea-card {
    grid-area: aurea;
  }
  #pokedex-card {
    grid-area: pokedex;
  }
  #regan-card {
    grid-area: regan;
  }
}