@media screen and (min-width: 812px) {
  // ----- All Tablet -----

  h2, h3 {
    font-size: $sub-size;
  }
  
  a, p, div, button, input {
    font-size: $body-size;
  }

  .single-container {
    max-width: 80%;
  }

  .double-container {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $big-margin;
  }

  .full-container {
    max-width: 100%;
    margin: 0;
  }

  // -------- Nav --------

  nav {
    padding: 0 $very-big-margin;

    #desktop-nav-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .nav-button {
        padding: $small-margin;
        margin-left: $small-margin;
        margin-right: $small-margin;
      }
    }
    #hamburger-container {
      display: none;
      button {
        display: none;
      }
    }
  }

  #mobile-menu-container {
    display: none;
  }

  // ----- Footer -----

  #footer {
    #social-media-icons {
      margin: $med-margin;
      a {
        margin: 0 $big-margin;
      }
    }
  }

  // -------- Home --------

  #home-container {
    grid-template-areas:
    //   "about ux"
    //   "art photo"
    //   "blog contact"

    //   "ux ux" 
    //   "art photo" 
    //   "about contact"

      "ux ux"
      "art photo"
      "contact contact";
    // height: 80vh;

    // .home-section {
    //   //   height: 25%;
    //   img {

    //     // height: 240px;
    //   }
    // }
  }

  // -------- Art --------

  .filter {
    margin: $med-margin;
    // display: block;
    justify-content: flex-end;

    a {
      margin: 0 $med-margin;
      width: fit-content;
    }
  }

  .series-description {
    max-width: 70%;
  }

  .card-container {
    align-items: center;
    .product-card {
      max-width: 15%;
      min-width: 5%;
      margin: $med-margin;
      transition: 0.2s ease;
    }
    .filtered {
      max-width: 30%;
      min-width: 20%;
      transition: 0.2s ease;
    }
    .product-overlay {
      h2 {
        font-size: $mob-sub-size;
      }
    }
  }

    // -------- Product --------

    .left-container,
    figure {
        width: 64%;
        justify-content: end;
    }
    .right-container,
    .about-bio {
      width: 34%;
      display: flex;
      flex-direction: column;

      .product-heading {
        display: inline;
      }
    
      .title, .price {
        margin-bottom: $big-margin;
      }
    }
}
