@media screen and (min-width: 660px) {
  // ----- All Tablet -----

  .container {
    // max-width: 80%;
    margin: auto;
  }

  // -------- Nav --------

  nav {
    padding: 0 $very-big-margin;

    #desktop-nav-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .nav-button {
        padding: $small-margin;
        margin-left: $small-margin;
        margin-right: $small-margin;
      }
    }
    #hamburger-container {
      display: none;
      button {
        display: none;
      }
    }
  }

  #mobile-menu-container {
    display: none;
  }

  // ----- Footer -----

  #footer {
    #social-media-icons {
      margin: $med-margin;
      a {
        margin: 0 $big-margin;
      }
    }
  }

  // -------- Home --------

  #home-container {
    grid-template-areas:
      "about ux"
      "art photo"
      "blog contact";
    // height: 80vh;

    .home-section {
    //   height: 25%;
      img {
        width: 100%;
        height: 240px;
      }
    }
  }

  // -------- Art --------

  #art-container {
    width: 80%;
  }

  .filter {
    margin: $med-margin;
    // display: block;
    justify-content: flex-end;

    a {
      margin: 0 $med-margin;
      width: fit-content;
    }
  }

  .series-description {
    max-width: 70%;
  }

  .card-container {
    .product-card {
      max-width: 45%;
      min-width: 20%;
      margin: $med-margin;
    }
  }
}
