@import url("https://fonts.googleapis.com/css?family=Trykker|Lustria|Big+Shoulders+Text|Bebas+Neue|Overpass|Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Fira+sans+Condensed|Dosis|Josefin+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  height: 100vh;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background: #e6e9eb;
  color: #303030;
}

a,
p {
  text-decoration: none;
  color: #303030;
}

img {
  color: #303030;
}

h1, h4 {
  font-size: 44px;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 36px;
  }
}
h2,
h3 {
  font-size: 18px;
}

h4 {
  position: absolute;
  top: 8px;
}

a,
p,
div,
button,
input,
textarea {
  font-size: 16px;
}

input,
textarea,
button {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 12px;
  text-align: start;
  margin-bottom: 12px;
  min-height: 36px;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.regular-button {
  text-align: center;
}

.regular-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.regular-button:active {
  opacity: 0.6;
  transition: 0.2s;
}

button {
  background: none;
  border: none;
}

.container {
  padding: 6px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
}

.full-container {
  width: 100%;
}

#home-page,
#ux-page,
#photo-page {
  width: 100%;
  margin: 0;
}

nav {
  margin: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 6px;
}
nav #logo a {
  display: flex;
  align-items: center;
}
nav #logo img {
  align-items: center;
  max-width: 40vw;
  max-height: 40px;
}
nav .left-nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
nav .left-nav #cart,
nav .left-nav #hamburger-container button {
  transition: 0.4s;
  width: 30px;
  padding: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

#desktop-nav-menu {
  display: none;
}

#desktop-nav-menu .nav-button,
.filter a {
  font-size: 18px;
  padding: 6px;
  margin: auto;
  margin-bottom: 10px;
}

#desktop-nav-menu .nav-button:hover,
.filter a:hover {
  border-bottom: 4px solid #303030;
  transition: 0.2s ease;
  margin-bottom: 6px;
}

#desktop-nav-menu .nav-button.active,
.filter a.selected {
  border-bottom: 4px solid #303030;
  margin-bottom: 6px;
}

.mobile-menu-container {
  display: flex;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  height: 0;
  width: 100%;
  background: #e6e9eb;
  opacity: 0;
  transition: 0.4s ease;
}
.mobile-menu-container #mobile-nav-menu {
  position: absolute;
  top: 20%;
  right: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu-container button {
  margin: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.mobile-menu-container #close-nav-menu {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 24px;
  height: 24px;
}

.menu-open {
  opacity: 1;
  transition: 0.4s ease;
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
  align-items: center;
  width: 100%;
}
#footer p {
  display: flex;
  text-align: center;
  margin-bottom: 12px;
}
#footer #social-media-icons {
  margin: 12px;
}
#footer #social-media-icons a {
  margin: 0 12px;
}

#home-page {
  display: grid;
  grid-template-areas: "contact" "ux" "art" "photo";
  justify-content: normal;
  align-items: stretch;
  width: 100%;
  margin: 0;
  color: #e3e3e3;
  text-decoration: none;
}
#home-page .home-section {
  margin: 12px;
  border-radius: 12px;
  border: none;
  position: relative;
  min-height: 80px;
}
#home-page .home-section a,
#home-page .home-section p {
  color: #e3e3e3;
}
#home-page .home-section .home-section-text {
  background-color: #303030b0;
  position: absolute;
  border-radius: 12px;
  bottom: 0;
  padding: 24px 24px;
  width: 100%;
}
#home-page .home-section .home-section-text p,
#home-page .home-section .home-section-text h2 {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: height 0.4s, opacity 0.4s linear;
}
#home-page .home-section img {
  position: absolute;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 15%;
     object-position: 0% 15%;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
#home-page .home-section:hover p,
#home-page .home-section:hover h2 {
  visibility: visible;
  opacity: 1;
  height: 48px;
}
#home-page .home-about-section {
  background-color: #f8f8f8;
  grid-area: about;
}
#home-page .home-about-section a,
#home-page .home-about-section p {
  color: #303030;
}
#home-page .home-ux-section {
  background-color: #4e4c54;
  grid-area: ux;
}
#home-page .home-ux-section img {
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}
#home-page .home-art-section {
  background-color: #472635;
  grid-area: art;
}
#home-page .home-photography-section {
  background-color: #2f3e50;
  grid-area: photo;
}
#home-page .home-blog-section {
  background-color: #2a4939;
  grid-area: blog;
}
#home-page .home-contact-section {
  background-color: #2f2f2f;
  background-color: transparent;
  grid-area: contact;
}
#home-page .home-contact-section .home-section-text {
  background-color: transparent;
  color: #303030;
  text-align: center;
  padding: 0;
}
#home-page .home-contact-section .home-section-text h1 {
  margin-bottom: 6px;
}
#home-page .home-contact-section .home-section-text #contact-home-button {
  margin-bottom: 0;
  background-color: #303030;
  color: #e3e3e3;
  width: -moz-fit-content;
  width: fit-content;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.filter a {
  text-align: left;
  width: 35%;
}

.series-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px;
  max-width: 90%;
  min-width: 40%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.8s ease-in-out, opacity 0.4s ease-in-out;
}
.series-description h2 {
  text-align: left;
  margin-bottom: 12px;
}

.expanded {
  height: 300px;
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.8s ease-in-out;
  overflow: scroll;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.card-container .product-card {
  width: 100%;
  margin: 12px;
  position: relative;
}
.card-container .product-card .product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  padding: 12px;
  visibility: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.4s linear;
  background-color: #e6e9ebb0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.card-container .product-card .product-overlay .text-overlay {
  padding: 6px;
  border-radius: 6px;
}
.card-container .product-card .product-overlay h2,
.card-container .product-card .product-overlay div {
  text-align: center;
}
.card-container .product-card a {
  color: #303030;
}
.card-container .product-card img {
  width: 100%;
}
.card-container .product-card:hover .product-overlay {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: height 0.4s, opacity 0.4s linear;
}

.left-container {
  padding: 12px;
  display: flex;
  justify-content: center;
}
.left-container img {
  max-height: 80vh;
  max-width: 100%;
  margin-bottom: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}

.right-container {
  padding: 12px;
}
.right-container .product-heading {
  display: flex;
  justify-content: space-between;
}
.right-container .title,
.right-container .price,
.right-container p {
  margin-bottom: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.right-container #add-to-cart {
  color: #e3e3e3;
  background-color: #303030;
  margin-top: 48px;
  margin-bottom: 48px;
}
.right-container .short-description {
  margin-top: 24px;
}

.lower-container {
  padding: 12px;
  display: flex;
}

.project-card-container {
  display: grid;
  grid-template-areas: "burger" "aurea" "pokedex" "regan";
  justify-content: normal;
  max-width: 100%;
  height: 75vh;
}
.project-card-container .project-card {
  margin: 12px;
  border-radius: 6px;
  padding: 6px;
  border-radius: 6px;
  background-color: #f8f8f8;
  min-height: 80px;
}
.project-card-container .project-card .image-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}
.project-card-container .project-card h2,
.project-card-container .project-card p {
  color: #e3e3e3;
  z-index: 2;
}
.project-card-container .project-card img {
  width: 100%;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.project-card-container #burger-card {
  grid-area: burger;
  background-color: rgba(61, 102, 102, 0.8901960784);
}
.project-card-container #aurea-card {
  grid-area: aurea;
  background-color: rgba(72, 50, 82, 0.8901960784);
}
.project-card-container #pokedex-card {
  grid-area: pokedex;
  background-color: rgba(86, 62, 57, 0.8901960784);
}
.project-card-container #regan-card {
  grid-area: regan;
  background-color: rgba(255, 228, 228, 0.8901960784);
}

#about-photo {
  max-width: 70%;
}

.lower-container h2 {
  position: absolute;
}
.lower-container .left-exhibitions,
.lower-container .right-exhibitions {
  margin-top: 48px;
}
.lower-container .left-exhibitions h3,
.lower-container .left-exhibitions p,
.lower-container .right-exhibitions h3,
.lower-container .right-exhibitions p {
  margin-bottom: 12px;
}
.lower-container .left-exhibitions {
  margin-right: 12px;
}
.lower-container .right-exhibitions {
  margin-left: 12px;
}

#contact-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
}
#contact-page h2 {
  margin-bottom: 48px;
}
#contact-page p {
  width: 70%;
  margin-bottom: 48px;
}
#contact-page form {
  width: 100%;
}
#contact-page form textarea {
  min-height: 108px;
}
#contact-page form #submit-button {
  background: #303030;
  color: #e3e3e3;
  text-align: center;
}

@media screen and (min-width: 812px) {
  h2,
  h3 {
    font-size: 24px;
  }
  a,
  p,
  div,
  button,
  input,
  textarea {
    font-size: 18px;
  }
  .single-container {
    width: 60%;
  }
  .double-container {
    width: 80%;
    padding: 24px;
  }
  .double-container,
  .single-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .full-container {
    width: 90%;
    margin: auto;
  }
  nav {
    padding: 0 48px;
  }
  nav #desktop-nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav #desktop-nav-menu .nav-button {
    padding: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
  nav #hamburger-container {
    display: none;
  }
  nav #hamburger-container button {
    display: none;
  }
  #mobile-menu-container {
    display: none;
  }
  #footer #social-media-icons {
    margin: 12px;
  }
  #footer #social-media-icons a {
    margin: 0 24px;
  }
  #home-page {
    grid-template-areas: "contact contact" "ux ux" "art photo";
  }
  .filter {
    margin: 12px;
    justify-content: flex-end;
  }
  .filter a {
    margin: 0 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .series-description {
    max-width: 70%;
  }
  .expanded {
    height: 240px;
  }
  .card-container {
    align-items: center;
  }
  .card-container .product-card {
    max-width: 15%;
    min-width: 5%;
    margin: 12px;
    transition: 0.2s ease;
  }
  .card-container .filtered {
    max-width: 30%;
    min-width: 20%;
    transition: 0.2s ease;
  }
  .card-container .product-overlay h2 {
    font-size: 18px;
  }
  .left-container,
  figure {
    width: 64%;
    justify-content: end;
  }
  .right-container,
  .about-bio {
    width: 34%;
    display: flex;
    flex-direction: column;
  }
  .right-container .product-heading,
  .about-bio .product-heading {
    display: inline;
  }
  .right-container .title,
  .right-container .price,
  .about-bio .title,
  .about-bio .price {
    margin-bottom: 24px;
  }
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "burger aurea" "pokedex regan";
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 72px;
  }
  .single-container {
    width: 40%;
  }
  nav {
    padding: 0 48px;
  }
  #home-page {
    grid-template-areas: "contact contact contact" "ux art photo" "ux art photo";
  }
  #home-page .home-contact-section .home-section-text {
    padding: 24px;
  }
  .series-description {
    max-width: 65%;
  }
  .expanded {
    height: 200px;
  }
  .left-container,
  figure {
    width: 54%;
    display: flex;
    justify-content: end;
  }
  .right-container,
  .about-bio {
    width: 44%;
    display: flex;
    flex-direction: column;
  }
  .right-container .product-heading,
  .about-bio .product-heading {
    display: flex;
    justify-content: space-between;
  }
  .right-container .title,
  .right-container .price,
  .about-bio .title,
  .about-bio .price {
    margin-bottom: 24px;
  }
  .lower-container {
    padding: 0 48px;
  }
}
@font-face {
  font-family: "Wallau Unzial Bold";
  src: url("/typefaces/Wallau Unzial Bold/Wallau Unzial Bold.ttf");
}
@font-face {
  font-family: "Le Murmure";
  src: url("public/typefaces/Le Murmure/le-murmure.otf");
}/*# sourceMappingURL=App.css.map */