// ------------------------ Variables ------------------------

@import "modules/variables";

// ------------------------ Responsive ------------------------

@import "modules/responsive/mobile";
@import "modules/responsive/tablet";
@import "modules/responsive/desktop";

// ------------------------ Font Imports ------------------------

@import url("https://fonts.googleapis.com/css?family=Trykker|Lustria|Big+Shoulders+Text|Bebas+Neue|Overpass|Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Fira+sans+Condensed|Dosis|Josefin+Sans");

@font-face {
    font-family: "Wallau Unzial Bold";
    src: url("/typefaces/Wallau Unzial Bold/Wallau Unzial Bold.ttf");
};

@font-face {
    font-family: "Le Murmure";
    src: url("public/typefaces/Le Murmure/le-murmure.otf");
};