// ------------------------ Reset ------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 99.4vh;
  box-sizing: border-box;
  height: 100vh;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// ------------------------ Colours ------------------------

$text-light: #e3e3e3;
$text-dark: #303030;
$bg-light: #e6e9eb;
$bg-light-2: #f1f4f5;
$card-dark: #303030;

$card-about: #f8f8f8;
$card-ux: #4e4c54;
$card-art: #472635;
$card-photo: #2f3e50; 
$card-blog: #2a4939;
$card-contact: #2f2f2f; 

// ------------------------ Type Sizes ------------------------

$head-size: 48px;
$sub-size: 24px;
$body-size: 18px;
$fine-size: 14px;

$mob-head-size: 22px;
$mob-sub-size: 18px;
$mob-body-size: 16px;
$mob-fine-size: 12px;

$h1-size-desktop: 72px;
$h1-size-tablet: 72px;
$h1-size-big-mob: 44px;
$h1-size-small-mob: 36px;

// ------------------------ Margins ------------------------

$very-big-margin: 48px;
// $very-big-margin: 24px;
$big-margin: 24px;
$med-margin: 12px;
$small-margin: 6px;

// $very-big-margin: 4em;
// $big-margin: 2em;
// $med-margin: 1em;
// $small-margin: 0.5em;
